/*------------------------
	font icons
-------------------------*/

.nc-icon.phone:before {
  content: "\ea02";
}

.nc-icon.design:before {
  content: "\ea03";
}

.nc-icon.star:before {
  content: "\ea04";
}

