// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;


// Colours

$brand-primary: #001f5b;    // Royal Blue. Pantone 281 C
$secondary: #1e252b;        // Dark Blue. Pantone 433 C

$copper: #98694c;           // Copper. Pantone 876 C
$soft-copper: #f0b39b;       // Soft Copper. Pantone 45-11 C

$text: $secondary;

$grey: #77777a;             // Cool grey Pantone 9 C
$lightgrey: #d1d3d3;        // Light Grey. Pantone 427 C
$mid-dark-grey: #26313a;
$darkgrey: #1b232a;

// Fonts

$font-primary: "proxima-nova", sans-serif;
$font-sec: "capitolium-2",serif;

// Spacing

$smlspace: 1rem 0;
$midspace: 2rem 0;
$lgspace: 3rem 0;
$hgspace: 4rem 0;

// Transitions

$bezier: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
$ease: all ease-in-out 0.9s;

$nc-font-path:        "../fonts" !default;
$nc-font-size-base:   14px !default;
$nc-css-prefix:       nc-icon !default;
$nc-background-color: #eee !default;
$nc-li-width:         (30em / 14) !default;
$nc-padding-width:    (1em/3) !default;